.logo {
    display: block;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
}

.loginbutton{
    width: 50px;
    border: 1px solid #dadce0;
    display: block;
    text-align: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.registerbutton{
    width: 60px;
    border: 1px solid #dadce0;
    display: block;
    text-align: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.regField{
    /* border: 1px solid #dadce0; */
    display: block;
    align-self: center;
    
}