.logo {
    display: block;
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
    width: 856px; 
    height: 250px;
}


#bottomPartButtons{
    display: block;
    margin-left: 7rem;
}

.loginbutton{
    justify-content: center;
}

.button {
    display: block;
    justify-content: center;
    background-color: #FFE3E3;
    font-family: roboto,sans-serif;
    font-size: 30;
    width: 17rem;
    min-width: 194px;
    height: 3rem;
}

