.logo {
    display: block;
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
    width: 50rem;
    height: 20rem;
}


.bottom-part-buttons{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#login-button{
    justify-content: center;
    background-color: #FFE3E3;
}

#register-button{
    margin-left: 1rem;
    background-color: #FFE3E3;
}

#submit-button {
    background-color: #FFE3E3;
}

.button {
    display: block;
    justify-content: center;
    font-family: roboto,sans-serif;
    font-size: 30;
    width: 17rem;
    min-width: 12rem;
    height: 3rem;
}

#pink-submit-button-register-page{
    display: block;
    justify-content: center;
    background-color: #FFE3E3;
}

#reg-field{
    display: flex;
    justify-content: center;
}

#email{
    width: 20rem;
    justify-content: center;
}

#email-label {
    padding-right: 5rem;
}

#password {
    width: 20rem;
    justify-content: center;
}

#password-label {
    padding-right: 5rem;
}

#display-name {
    width: 20rem;
    justify-content: center;
}

#display-name-label {
    padding-right: 5rem;
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the label to display next to the inputs */
label {
    padding: 0.7rem 0.7rem 0.7rem 0;
    display: flex;
    justify-content: right;
}

/* Style the submit button */
input[type=submit] {
    background-color: #FFE3E3;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
}

/* Style the container */
.container {
    border-radius: 5px;
    padding: 20px;
}

/* Floating column for labels: 50% width to the left */
.col-a50 {
    float: left;
    width: 50%;
    margin-top: 0.7rem;
}

/* Floating column for inputs: 50% width to the right */
.col-b50 {
    float: right;
    width: 50%;
    margin-top: 0.7rem;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */ 
@media screen and (max-width: 600px) {
.col-a50, .col-b50, input[type=submit] {
    width: 100%;
    margin-top: 0;
}

.logo {
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 10%;
}
}